<div class="row text-center">
        <div class="col-lg-12  text-center">
            <h2 class="text-uppercase" style = "color:#2a4858; font-size: 2.5rem; margin-top: 0; margin-bottom: 2rem;">Meet the team</h2>
        </div>
        <div class="col-sm-12 col-lg-12">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/simon-munzert/avatar.jpg" alt="" />
            <h4>Simon<br>Munzert</h4>
            <p class="text-muted">Associate Professor of Data Science<br>and Public Policy</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://simonmunzert.github.io/" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:munzert[at]hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/simonsaysnothin" target="_blank"><i class="fab fa-twitter" ></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://scholar.google.com/citations?user=hIMdRkMAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </div>

        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/lisa-oswald/avatar.jpg" alt="" />
            <h4>Lisa<br> Oswald</h4>
            <p class="text-muted">PhD Researcher</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://lfoswald.github.io/" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:l.oswald[at]phd.hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/LisaFOswaldo" target="_blank"><i class="fab fa-twitter" ></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://scholar.google.com/citations?user=_Q1LUZEAAAAJ&hl=en&oi=ao" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/sebastian-ramirez-ruiz/avatar.jpg" alt="" />
            <h4>Sebastian<br> Ramirez Ruiz</h4>
            <p class="text-muted">PhD Researcher</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://seramirezruiz.github.io/" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:ramirez-ruiz[at]hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/seramirezruiz/" target="_blank"><i class="fab fa-twitter" ></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://scholar.google.com/citations?user=Gbqiu-AAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/kindye-adugna/avatar.jpg" alt="" />
            <h4>Kindye<br> Adugna</h4>
            <p class="text-muted">Researcher</p>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:adugna[at]hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/till-koeveker/avatar.jpg" alt="" />
            <h4>Till<br> Koeveker</h4>
            <p class="text-muted">PhD Researcher</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://www.diw.de/sixcms/detail.php?id=diw_01.c.800253.en" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:TKoeveker[at]diw.de" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="col-12">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="author/adrian-santonja-di-fonzo/avatar.jpg" alt="" />
            <h4>Adrian<br> Santonja di Fonzo</h4>
            <p class="text-muted">PhD Researcher</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://www.diw.de/sixcms/detail.php?id=diw_01.c.800251.en" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:ASantonjadiFonzo[at]diw.de" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/adrian_santonja" target="_blank"><i class="fab fa-twitter" ></i></a>
        </div>
        
</div>
